<h1>Listing Contacts</h1>
<p><%= link_to 'Import contacts from Google API', import_contacts_path, class: 'btn btn-default' %></p>

<%= render 'contacts/listing' %>

<br>

<%= link_to 'New Contact', new_contact_path, class: 'btn btn-default'%>
