<footer class="footer">
  <small>
    kkrampa & MarekAG
  </small>
  <nav>
    <ul>
      <li><%= link_to t('about'),   about_path %></li>
      <li><%= link_to t('contact'), contact_info_path %></li>
      <li><a href="https://github.com/kkrampa/asi-egzamin">Github</a></li>
    </ul>
  </nav>
</footer>
