<footer class="footer">
  <small>
    kkrampa & MarekAG
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/kkrampa/asi-egzamin">Github</a></li>
    </ul>
  </nav>
</footer>
